.calendar-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }
  
  .fc {
    font-family: 'Arial', sans-serif;
  }
  
  .fc-toolbar {
    margin-bottom: 20px;
  }
  
  .fc-button {
    background-color: #00adb5 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: none !important;
  }
  
  .fc-button:hover {
    background-color: #007a7f !important;
  }
  
  .fc-daygrid-event {
    background-color: #00adb5;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .fc-daygrid-event:hover {
    background-color: #007a7f;
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .calendar-container {
      width: 100%;
    }
  
    .fc-toolbar-title {
      font-size: 18px;
    }
  
    .fc-daygrid-event {
      font-size: 12px;
    }
  }
  .fc-button {
    background-color: #00adb5 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: none !important;
    margin-right: 10px; /* Adds space to the right of each button */
  }
  
  .fc-button:last-child {
    margin-right: 0; /* Removes margin from the last button in each group */
  }

  .fc-button-group{
    gap: 4px;
  }